body {
    background-color: #f8f9fa;
    overflow: hidden;
}
.array-container{
    height: 350px;
    border: 1px solid #ccc;
    margin-top: 20px;
    position: relative;
}
.array-bar{
    background-color: #007bff;
    margin: 0 1px;
    display: inline-block;
    vertical-align: bottom;
    transition: height 0.2s, background-color 0.2s;
}
.array-bar.sorted {
    background-color: #28a745;
}

.array-bar.compared {
    background-color: #ffc107;
}
