body {
    background-color: #f8f9fa;
    /* overflow: hidden; */
}
.array-container{
    height: 350px;
    border: 1px solid #ccc;
    margin-top: 20px;
    position: relative;
}
.array-bar{
    background-color: #007bff;
    margin: 0 3px;
    display: inline-block;
    vertical-align: bottom;
    transform-origin: bottom;
    transition: transform 0.3s, height 0.2s, background-color 0.2s;
}
/* .speed input{
    width: 50%;
} */
button{
    margin: 10px;
}
.buttons{
    display: none;
}
#arraySize{
    margin-right: 15px;
}
.speed{
    padding: 10px;
}
.array-bar.sorted {
    background-color: #28a745;
}

.array-bar.compared {
    background-color: #ffc107;
}
#speedValue{
    margin-right: 20px;
}
#mergeSort{
    background-color: purple;
    border:none;
    color: white;
    &:hover{
        background-color: rgba(141, 18, 141, 0.8);
    }
}
.algorithm-dropdown{
    display: none;
}
@media screen and (max-width : 768px){
    .buttons{
        display: block;
    }
    .button-container{
        display: none;
    }
    .algorithm-dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-select{
        width: 20%;
    }
}

@media screen and (max-width : 992px){
    button{
        margin: 10px;
    }
    #arraySize{
        width: 70%;
    }
    .array-container{
        height: 300px;
    }
}
@media screen and (max-width : 515px) {
    .form-select{
        width: 40%;
    }
}
@media screen and (max-width : 380px) {
    .form-select{
        width: 60%;
    }
}
@media screen and (max-width : 480px) {
    .form-control{
        width: 60%;
        float: right;
    }
    .speed input{
        width: 40%;
    }
}
